Dockerfile
.dockerignore
node_modules
npm-debug.log
.env
.env.local
.env.production.local
.env.development.local
.git
.gitignore
.next
.vercel
README.md
ecosystem.config.js
*.log
.DS_Store
.vscode
.idea
