@tailwind base;
@tailwind components;
@tailwind utilities;

.form input {
  box-shadow:
    0 1px 1px #d5d5d5,
    0 0 0 9px #f2f2f2;
}
.form input:focus {
  outline: 1px solid #dae8ff;
  box-shadow: 0 0 0 9px #eff5ff;
  outline-offset: 0;
}
